/* skeleton */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: #021526 !important; 
  color: #E2E2B6 !important; 
  margin: 0;
  padding: 0;
  font-family: 'Centra', sans-serif !important;
}

main {
  background-color: #233c53;
  color: #90b9da;
}
