*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #0000;
    background-color: rgb(20, 20, 20);
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-position: center;
}

.container{
    padding: 10px 10%;

}

.logo{
    width: 100px;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style:none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: goldenrod;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: white;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: goldenrod;
}

#about{
    padding: 80px 0;
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column1{
    flex-basis: 35%;
}

.column1 img{
    width: 100%;
    border-radius: 15px;
}

.column2{
  flex-basis: 60%;  
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.features{
    display: flex;
    margin: 20px 0 40px;
}

.feature {
    background-color: rgb(92, 92, 92);
    color: white;
    outline: 2px solid black;
    border-radius: 5px;
    margin: 20px;
    max-width: 300px;
    display: inline-block;
}

.feature h2{
    color: goldenrod;
}

.skills{
    list-style: none;
}

.tab-links{
    text-decoration: none; /* Remove default text underline */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    color:black;
}


.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: goldenrod;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after{
    width: 50%
}