*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-style: bold;
    box-sizing: border-box;
}

body{
    background: #0000;
    background-color: rgb(20, 20, 20);
    color: white;
}