*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-style: bold;
    box-sizing: border-box;
}

body{
    background: #0000;
    background-color: rgb(20, 20, 20);
    color: white;
}

.container{
    padding: 10px 10%;

}

.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: white;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: goldenrod;
}

.about{
    padding: 80px 0;
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.features {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
    color: var(--navbar-text);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
}


.features h2 {
    font-size: 24px;
    margin-bottom: 40px;
}


.feature {
    background-color: var(--navbar);
    color: var(--navbar-text);
    outline: 2px solid black;
    border-radius: 5px;
    margin: 20px;
    max-width: 300px;
    display: inline-block;
}

.feature ul li {
    list-style: none;
}
