header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #010f1b;
}

.name{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.linkedIn {
    background: white;
}

nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-left: 35px;
    gap: 20px;
}

nav a{
text-decoration: none;
color: white;
font-weight: 500;
}

nav a:hover {
    color: #6EACDA;
}
/* 
.nav-menu {
    display:inline-flex;
    justify-content: center; 
    margin-left: 300px;
    margin-top: 50px;
    background: blue;
}

.nav-menu p {
    margin-right: 100px;
}


.nav-menu li {
    list-style: none;
    margin: 0 20px;
    position: relative;
}

.nav-menu li a {
    text-decoration: none;
    color: #6EACDA;
    text-transform: uppercase;
}

.nav-menu li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #03346E;
    position: absolute;
    left: 0;
    bottom: 30px;
    transition: 0.5s;
}

.nav-menu li:hover::after {
    width: 100%;
} */

.socials {
    display: flex;
    align-items: center;
}

.socials a {
    width: 42px;
    height: 42px;
    background: #eee;
    display: inline-flex;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid #FFF;
    border-radius: 50%;
}

.socials a:hover {
    background: #03346E;
}

.resume{
    border-radius: 10%;
}
